@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 @apply box-border m-0 p-0
}

body {
    @apply h-screen text-white
}

li {
   font-size: 1.1rem;
}

li:hover {
  color: white;
}

li:active {
  transform: translateY(5px);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: green;
  }

  .bgCards {
    background-image: url('../../../public/bg-Egypt/g2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cardTags > li > span{
    background: #20224A;
    border-radius: 10%;
    padding: 4px;
  }
}